<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <title>AngularJS & Firebase Web App</title>

    <link href="bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>


    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAFDV7HGozAaO6-MTjQwIfYnUUrWPS4NBI",
            authDomain: "skyro-demo.firebaseapp.com",
            databaseURL: "https://skyro-demo.firebaseio.com",
            projectId: "skyro-demo",
            storageBucket: "skyro-demo.appspot.com",
            messagingSenderId: "479157258714"
        };
        firebase.initializeApp(config);
    </script>

    <script src="app.js"></script>




</head>

<body ng-app="myApp" ng-controller="SampleCtrl">
    <h3> Welcome to Skyro</h3>
    <div class="box">

        <div id="header">
            <h1 id="logintoregister">Login</h1>
        </div>

        <div class="group">
            <input class="inputMaterial" ng-model=email type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Username</label>
        </div>
        <div class="group">
            <input class="inputMaterial" type="password" ng-model=password required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Password</label>
        </div>
        <button id="buttonlogintoregister" ng-click="afunction()" type="submit">Login</button>
        </form>
        <div id="footer-box">
            <p class="footer-text">Not a member?<span class="sign-up"> Sign up now</span></p>
        </div>
    </div>

    <style>
        body {
            background-image: url(img/login.jpg);
            padding-bottom: 100%;
            overflow-y: hidden;
        }
        
        h3 {
            text-align: center;
            padding-top: 80px;
            margin-top: -25px;
        }
        
        .box {
            position: relative;
            margin: auto;
            height: 375px;
            top: 40px;
            left: 0;
            z-index: 200;
            right: 0;
            width: 400px;
            color: #666;
            border-radius: 3px;
            background: #FFF;
            margin-bottom: 100px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            overflow: hidden;
        }
        
        .box h1 {
            margin-left: 40px;
            padding-bottom: 30px;
            font-size: 25px;
            font-weight: 300;
            color: #607d8b;
        }
        
        .box button {
            background: #cfd8dc;
            border: 0;
            color: #009688;
            padding: 10px;
            font-size: 16px;
            font-weight: 300;
            width: 330px;
            margin: 20px auto;
            display: block;
            cursor: pointer;
            -webkit-transition: all 0.4s;
            transition: all 0.4s;
            border-radius: 2px;
        }
        
        .box button:active {
            background: #009688;
            color: #263238;
        }
        
        .box button:hover {
            background: #009688;
            color: #FFF;
            -webkit-transition: all 0.4s;
            transition: all 0.4s;
        }
        
        .box p {
            font-size: 14px;
            text-align: center;
        }
        
        .group {
            position: relative;
            margin-bottom: 35px;
            margin-left: 40px;
        }
        
        .inputMaterial {
            font-size: 18px;
            padding: 10px 10px 10px 5px;
            display: block;
            width: 300px;
            border: none;
            border-bottom: 1px solid #757575;
        }
        
        .inputMaterial:focus {
            outline: none;
        }
        /* LABEL ======================================= */
        
        label {
            color: #999;
            font-size: 14px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }
        /* active state */
        
        .inputMaterial:focus~label,
        .inputMaterial:valid~label {
            top: -20px;
            font-size: 14px;
            color: #009688;
        }
        /* BOTTOM BARS ================================= */
        
        .bar {
            position: relative;
            display: block;
            width: 315px;
        }
        
        .bar:before,
        .bar:after {
            content: '';
            height: 2px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: #009688;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }
        
        .bar:before {
            left: 50%;
        }
        
        .bar:after {
            right: 50%;
        }
        /* active state */
        
        .inputMaterial:focus~.bar:before,
        .inputMaterial:focus~.bar:after {
            width: 50%;
        }
        /* active state */
        
        .inputMaterial:focus~.highlight {
            -webkit-animation: inputHighlighter 0.3s ease;
            -moz-animation: inputHighlighter 0.3s ease;
            animation: inputHighlighter 0.3s ease;
        }
        /* ANIMATIONS ================ */
        
        @-webkit-keyframes inputHighlighter {
            from {
                background: #5264AE;
            }
            to {
                width: 0;
                background: transparent;
            }
        }
        
        @-moz-keyframes inputHighlighter {
            from {
                background: #5264AE;
            }
            to {
                width: 0;
                background: transparent;
            }
        }
        
        @keyframes inputHighlighter {
            from {
                background: #5264AE;
            }
            to {
                width: 0;
                background: transparent;
            }
        }
        
        #footer-box {
            width: 100%;
            height: 50px;
            background: #00695c;
            position: absolute;
            bottom: 0;
        }
        
        .footer-text {
            color: #cfd8dc;
        }
        
        .sign-up {
            color: white;
            cursor: pointer;
        }
        
        .sign-up:hover {
            color: #b2dfdb;
        }
    </style>
</body>

</html>