<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="app.js"></script>

</head>

<body ng-app="myApp" ng-controller="SampleCtrl2">


    <div layout="column" style="height: 500px;" ng-cloak>

        <section layout="row" flex>

            <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">

                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
                </md-toolbar>

                <md-content layout-margin>
                    <p>
                        This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
                    </p>
                    <md-button ng-click="toggleLeft()" class="md-accent">
                        Close this Sidenav
                    </md-button>
                </md-content>

            </md-sidenav>

            <md-content flex layout-padding>

                <div layout="column" layout-align="top center">
                    <p>
                        Developers can also disable the backdrop of the sidenav.<br/> This will disable the functionality to click outside to close the sidenav.
                    </p>

                    <div>
                        <md-button ng-click="toggleLeft()" class="md-raised">
                            Toggle Sidenav
                        </md-button>
                    </div>

                </div>

            </md-content>

        </section>

    </div>
</body>